* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #fafafb;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  width: 960px;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: baseline;
}

.betslip {
  width: 250px;
}

.matchlist {
  flex-grow: 1;
  margin-right: 30px;
}

.match {
  background-color: white;
  padding: 25px;
  display: flex;
  margin-top: 20px;
  border-radius: 23px;
  width: 100%;
  justify-content: space-between;
}

.match p {
  display: inline;
}

.match .time p {
  background-color: #0062ff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  display: flex;
}

.match .teams {
  display: flex;
  justify-content: space-between;
}

.match .teams p {
  margin: 2px;
}

.odds button {
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  margin: 0 10px;
  min-width: 70px;
  cursor: pointer;
}

.odds .win {
  background-color: #ebfaf4;
  color: #3dd598;
}

.odds .loss {
  background-color: #feeeee;
  color: #ea6560;
}

.odds .draw {
  background-color: #fff9ec;
  color: #f6c75c;
}

ul {
  padding: 0;
  border: 1px solid #e2e2ea;
  border-radius: 23px;
}

ul h3 {
  margin-left: 25px;
  color: #65666d;
  font-weight: 400;
  margin-bottom: 10px;
}

li {
  list-style: none;
}

.betslip {
  padding: 0;
  border: 1px solid #e2e2ea;
  border-radius: 23px;
}

.betslip h3 {
  margin-left: 25px;
  color: #65666d;
  font-weight: 400;
  margin-bottom: 20px;
}

.slip {
  margin-top: 10px;
  background-color: white;
  border-radius: 23px;
  padding: 15px;
  border: 0;
}

.betslip input {
  border: 1px solid #d5d5dc;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.betslip button {
  background-color: #0062ff;
  padding: 10px 15px;
  color: white;
  border: 0;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}
